# Vim
vim/.vim/swap/*
vim/.vim/undo/*
vim/.vim/view/*
vim/.vim/plugged/*
vim/.vim/.netrwhist

# Ranger
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/tagged

# Mac
.DS_Store
Icon*
